.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: transform 500ms;

  padding: 0 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 8px 0 rgba(51, 51, 51, 0.16);

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  &:hover {
    transform: translateX(15px);
  }

  p {
    font-size: 24px;
  }

  p:last-child {
    text-align: right;
    font-weight: bold;
  }
}
